<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation booking form</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/styles.css">
    
    <!-- Favicon -->
    <link rel="icon" href="images/Screenshot-2025-10-29-212952.png">

    <!-- Link to JavaScript -->
    <script src="js/vacation.js" defer></script>
</head>
    <body>
        <main>
            <div id = "image">
                <img src="https://bit.ly/305-vacation" alt = "vacation sunset">
                <h1> Book Your Dream Vacation</h1>
            </div>
            <p> Thank you for your request!</p>

            <p>GitHub: <a href ="https://github.com/samkosal/Vacation-Booking-Form">https://github.com/samkosal/Vacation-Booking-Form</a></p>
        </main>
    </body>
</html>