<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation booking form</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/styles.css">
    
    <!-- Favicon -->
    <link rel="icon" href="images/Screenshot-2025-10-29-212952.png">

    <!-- Link to JavaScript -->
    <script src="js/vacation.js" defer></script>
</head>
    <body>
        <main>
            <form id="vacation-form" action="submit-form" method="post">
                <!-- Image banner with text -->
                <div id = "image">
                    <img src="https://bit.ly/305-vacation" alt = "vacation sunset">
                    <h1> Book Your Dream Vacation</h1>
                </div>

                <!-- the main Form and button-->
                <div id="Form-and-button">
                    <fieldset id = "main-form">
                        <div id = "first">
                            <span id="err-destination" class="error">Please select an option</span>
                            <label>Destination</label>
                            <select id="destination" name="destination">
                                <option value="none">Choose a destination..</option>
                                <option value="Bali">Bali, indonesia</option>
                                <option value="Paris">Paris, France</option>
                                <option value="Tokyo">Tokyo, Japan</option>
                                <option value="Maldives">Maldives</option>
                                <option value="NYC">New York City, USA</option>
                            </select>
                        </div>
                        <div id = "second">
                            <span id="err-date" class="error"> date cannot be empty!</span>
                            <label for="date">Departure Date:</label>
                            <input type="date" id="date" name="date">       
                        </div>
                        <div id = "third">
                            <span id="err-Travelers" class="error"> Numbers of Travelers cannot be less than or equal to zero!</span>
                            <label for="Travelers">Numbers of Travelers:</label>
                            <input type="number" id="Travelers" name="Travelers" value="0">
                        </div>
                    </fieldset>
                    <button type="submit" id="order-button"> Find My Vacation</button>
                </div>

            </form>

            <p>GitHub: <a href ="https://github.com/samkosal/Vacation-Booking-Form">https://github.com/samkosal/Vacation-Booking-Form</a></p>
        </main>
    </body>
</html>